.everypay-wrapper label.payment-method-option.hidden {
    display: none;
}
.everypay-wrapper label.payment-method-option input, .everypay-wrapper label.payment-token-option input {
    display: none;
}
.everypay-wrapper label.payment-method-option.selected, .everypay-wrapper label.payment-token-option.selected {
    border: 1px green solid;
}